body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #ffffff;
}

.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo img{
    width: 31px;
    height: 25px;
}

.header__navbar a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #191919;
    padding-left: 18px;
    text-decoration: none;
}

.text {
    height: 200px;
}

.text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 84px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #171717;
    text-align: center;
    margin-top: 100px;
}

.text h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
    text-align: center;
}

.work__wrapper {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.work__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 341px;
    height: 300px;
    background-color: #dddddd;
    border: 0.1px solid grey;
}

.item:hover {
    opacity: 0.85;
    background-color: #10c9c3;
}

.footer {
    display: flex;
    align-items: center;
    height: 284px;
    background-color: #141414;
}

.content1__wrapper {
    margin-left: 100px;
}


.content1__wrapper h2 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.content1__wrapper span {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}

.contacts {
    margin-left: 300px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}

